<div>
<%= current_user.email%>
</div>
<style>
  video {
    width: 380px;
    height: 290px;
    float: left;
  }
</style>
<video width="100%" height="100%" id="localVideo" autoplay="autoplay" muted="true"></video>
<video width="100%" height="100%" id="remoteVideo" autoplay="autoplay"></video>
<video width="100%" height="100%" id="miniVideo" autoplay="autoplay" muted="true"></video>
<div style="clear: both">
  <button id="btn" type="button" disabled='disabled' >Connect</button>
</div>
<script>
  pc = rtc.createStream({
    url: '192.168.10.108:27290'
  });

  pc.on('get media success', function(stream) {
    attachMediaStream(document.getElementById("localVideo"), stream);
  })

  pc.on('pc ready', function() {
    $('#btn').removeAttr('disabled')
  })

  pc.on('pc stream add', function(stream) {
    attachMediaStream(document.getElementById("remoteVideo"), stream);
  })

  pc.on('pc exist', function() {

  })
  $('#btn').click(function() {
    pc.connect()
  })
</script>