<!DOCTYPE html>
<html>
<head>
  <title>WebRTC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon(:need_type => true, :namespace => 'rails', :camel_case => true) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
